@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    -fx-font-family: "Fira Sans", sans-serif;
}

.bg
{
    -fx-background-image: url(../uploads/bg.png);
    -fx-background-repeat: no-repeat;
}

.dash__side-bar {
    -fx-padding: 16px 18px;
    -fx-background-color: rgba(107, 175, 84, 0.1);
}

.text {
    -fx-font-size: 15px;
    -fx-font-weight: 800;
}
.nav-links {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-transition: all 2s ease;
    -fx-cursor: hand;
}

.nav-links:hover {
    -fx-background-color: rgba(45, 100, 33, 0.38);
}

.activeLink,
.activeLink:hover {
    -fx-background-color: #defee6;
}

.activeText {
    -fx-text-fill: #43882b;
}

.nav-user-fullname {
    -fx-font-size: 18px;
    -fx-font-weight: 800;
    -fx-fill: #fff;
}

.nav-icon {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.nav-icon:hover {
    -fx-background-color: rgba(107, 175, 84, 0.377);
    -fx-cursor: hand;
}

.nav-notif-bg {
    -fx-background-color: #97d158;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.dash__container-card {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.product-card {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.product-card-scrollPane {
    -fx-background: #fff;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
}

.scroll-bar:vertical .track {
    -fx-background-color: #defee6;
    -fx-border-color: #fff;
    -fx-background-radius: 30px;
    -fx-pref-width: 24px;
}

.ha
{
    -fx-font-size: 25px;
}

.dash__container-card {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.fadi{
    -fx-background: #fff;
    -fx-background-color: #b5e8c9;
    -fx-border-radius: 50px;
    -fx-background-radius: 10px;
}
.nav-linksbtn {
    -fx-background-color : #54cb92;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-transition: all 2s ease;
    -fx-cursor: hand;
}

.nav-linksbtn:hover {
    -fx-background-color : #1c9b57;
}
.nav-linksbtn:pressed {
    -fx-background-color : #064b1c;
}
.btn_action_add
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}